@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    background-color: #434343;
}

/*HEADER*/
.container-header, .container-img {
    display: none;
}

.container {
    background: url('../img/ProvaFrontEndJunior-Desk-1.png') no-repeat ;
    width: 100vw;
    height: 100vh;
}

.container h1 {
    padding-top: 18px;
    text-align: center;
    color: #4d6128;
}

.container p {
    text-align: center;
    margin-top: 5px;
    color: #213800
}

/* MAIN */

article {
    display: flex;
    flex-direction: row;
    background-color: #434343;
    color: #FFF;
    margin-top: 3%;
}

article img {
    border: 5px solid #707070;
}

article div {
    text-align: center;
    margin-bottom: 3%;
    padding: 0;
}

article p {
    width: 80%;
    margin-left: 9%;
}

article h2 {
    padding: 3%;
    font-size: 30px;
}

aside {
    background-color: #707070;
    padding: 5%;
}

aside img {
    width: 300px;
    height: 300px;
    border-radius: 150px ;
    border: 15px solid #313131;
}

.container-aside {
    display: flex;
    flex-direction: row;
    color: #FFF;
}

.container-aside div {
    padding: 0 50px 0 50px;
}

.container-aside p {
    margin: 20px 0 0 0;
}

footer {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

@media screen and (min-width: 180px) and (max-width: 460px) {
    .container {
        display: none;
    }

    .container-header, .container-img {
        display: block;
        color: #FFF;
    }

    .container-header h1, p  {
        text-align: center;
        margin-bottom: 2%;
    }

    .container-header h1 {
        font-size: 40px;
    }

    .container-header img {
        width: 100%;
        height: 100%;
    }

    .container-img img {
        width: 100vw;
        height: 70vh;
    }

    .container-aside {
        margin-top: -105px;
    }

    .container-aside img {
        display: none;
    }

    .container-aside h2 {
        font-size: 60px;
        margin-left: -5%;
    }
}

@media screen and (max-width: 1022px) {
    article {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-right: 3%;
    }

    article h2, p {
        padding-bottom: 3%;
        padding-top: 1%;
    }

    article p {
        width: 90%;
        margin: auto;
    }

    .container-aside {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container-aside h2 {
        padding: 2%;
    }
}
